<div class='orange'>
    <h2 class="splColor" mat-dialog-title>Add New Friends</h2>
    <mat-dialog-content>
        <div class="card addFriendsDialog">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngIf="data.addFriends.length == 0 && data.addFriends_error">
                    <span class="small text-danger font-weight-bold">{{ data.addFriends_error }}</span>
                </li>
                <li class="list-group-item" *ngIf="data.addFriends.length == 0 && !data.addFriends_error">
                    <span class="text-primary">No new users</span>
                </li>
                <li class="list-group-item" *ngFor="let friend of data.addFriends">
                    <img class="pull-left" src="./../../assets/user.png" width="16" height="16">
                    <span class="text-primary">{{ friend['name'] }} | {{ friend['email'] }} </span>
                    <button [mat-dialog-close]="friend" class="btn text-primary pull-right"> Add </button>
                </li>
            </ul>
        </div>
    </mat-dialog-content>
</div>
<mat-dialog-actions class="pull-right">
    <button mat-dialog-close="cancel" class="btn text-primary" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>