<div class="orange-background"></div>
<div class="wrap">
  <section class="left">
    <div class="profile">
      <button class="btn btn-link ">
        <img class="rounded" [src]='profileImage' width="16" height="16">
      </button>
      <button class="btn btn-link" (click)="addFriends()">Add friends</button>
      <button class="btn btn-link" *ngIf="!room" (click)="chatRoom()">Chat-Room</button>
      <button class="btn btn-link" *ngIf="room" (click)="room = false">Go back</button>
      <button class="btn btn-link pull-right" (click)="logOut()">Log out</button>
      <!-- <div class="icons">
        <i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </div> -->
    </div>
    <div class="wrap-search">
      <div class="search">
        <i class="fa fa-search fa" aria-hidden="true"></i>
        <input type="text" class="input-search" placeholder="search">
      </div>
    </div>
    <div class="contact-list">
      <div *ngFor="let friend of friends">
        <div class='contact new-message-contact' id='d'>
          <img src="./../../assets/user.png" alt='profilpicture'>
          <div class='contact-preview'>
            <div class='contact-text'>
              <h1 (click)="showMessages(friend)" class='font-name'>{{ friend['name'] }}</h1>
              <p class='font-preview'></p>
            </div>
          </div>
          <div class='contact-time'>
            <p></p>
            <div class='new-message' *ngIf="friend['active']">
              <p></p>
            </div>
            <div class='new-message bg-danger' *ngIf="!friend['active']">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="right" #emojiSize>
    <div *ngIf="!friend_id && !room">
      <div class="chat-head">
        <h1 class="font-name"></h1>
        <p class="font-online"></p>
      </div>
      <div class="welcome1 text-center">
        <div>
          <h1 class="text-secondary">{{ user_name | uppercase }}</h1>
          <h4 class="text-info">welcome</h4>
        </div>
      </div>
    </div>
    <div *ngIf="friend_id && !room" style="height: 100%">
      <div class="chat-head">
        <img src="./../../assets/user.png" alt="profilepicture">
        <div class="chat-name">
          <h1 class="font-name"></h1>
          <p class="font-online"></p>
        </div>
      </div>
      <div [ngClass]="{'wrap-chat1': !seeEmojis, 'wrap-chat2': seeEmojis}" #scrollMessages>
        <div class="chat" *ngFor="let message of messages">
          <div class='chat-bubble you' *ngIf="message._from != user_id">
            <div class='your-mouth'></div>
            <div class='content'>{{ message.content }}</div>
            <div class='time'>{{ message.time }}</div>
          </div>
          <div class='chat-bubble me' *ngIf="message._from == user_id">
            <div class='my-mouth'></div>
            <div class='content'>{{ message.content }}</div>
            <div class='time'>{{ message.time }}</div>
          </div>
        </div>
        <div class="information"></div>
      </div>
      <div class="wrap-emoji" *ngIf="seeEmojis">
        <div style="margin: 10px 8%;" >
          <emoji-mart color='#f4511e' set="apple" native=true hideRecent=true showPreview=false (emojiSelect)="appendEmoji($event)"
          title="Pick your emoji" emoji='point_up' [perLine]='count'>
          </emoji-mart>
        </div>
      </div>
      <div class="wrap-message" >
        <i class="fa fa-smile-o fa-lg" aria-hidden="true" (click)="seeEmoji()"></i>
        <div class="message">
          <input id='newMsg' type="text" class="input-message" name="newMessage.content" [(ngModel)]="newMessage.content" size="70"
            placeholder="" required>
        </div>
        <i class="fa fa-paper-plane fa-lg" aria-hidden="true" (click)="sendMessage()"></i>
      </div>
    </div>
  </section>
</div>