<!-- Application Title and description -->
<div class="jumbotron text-center" *ngIf='!isLoggedIn'>
  <h1>{{ title }}</h1>
  <p>keep in touch</p>
</div>
<!-- Join or Login Form -->
<div class="row" *ngIf='!isLoggedIn'>
  <div class="col-lg-4"></div>
  <div class="col-lg-8">
    <!-- Joining form -->
    <form #joinForm="ngForm" class="form-horizontal loginForm" *ngIf="joinOrLogin" novalidate (ngSubmit)="onSubmit(joinForm,'join')">
      <div class="col-sm-6 form-group">
        <input type="text" class="form-control text-center" [ngModel]="user.name" name="name" #name="ngModel" placeholder="your name"
          autocomplete="name" required minlength="5" maxlength="10">
          <span class="small ml-1 mt-4 text-secondary" *ngIf="!user_errors.name && !(name.dirty || name.touched)">*only alphanumeric characters</span>
          <span class="small ml-1 mt-4 text-danger" *ngIf="user_errors.name">only alphanumeric characters</span>
        <p class="small text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <span class="ml-1 mt-4" *ngIf="name?.errors && name?.errors['required']">User name required</span>
          <span class="ml-1 mt-4" *ngIf="name?.errors && name?.errors['minlength']">User name needs to be more than 5 characters</span>
          <span class="ml-1 mt-4" *ngIf="name?.errors && name?.errors['maxlength']">Choose User name within 8 characters</span>
        </p>
        <!-- <p class="small text-danger" *ngIf="user_errors.name">
          <span class="ml-1 mt-4" *ngIf="user_errors.name">{{ user_errors.name }}</span>
        </p> -->
      </div>
      <div class="col-sm-6 form-group">
        <input type="email" class="form-control text-center" [ngModel]="user.email" name="email" #email="ngModel" placeholder="email address"
          autocomplete="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <p class="small text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span class="ml-1 mt-4" *ngIf="email?.errors && email?.errors['required']">Email address required</span>
          <span class="ml-1 mt-4" *ngIf="email?.errors && email?.errors['pattern']">Invalid email address</span>
        </p>
        <p class="small text-danger" *ngIf="user_errors.email">
          <span class="ml-1 mt-4" *ngIf="user_errors.email">{{ user_errors.email }}</span>
        </p>
      </div>
      <div class="col-sm-6 form-group">
        <input type="password" class="form-control text-center" [ngModel]="user.password" name="password" #password="ngModel" placeholder="password"
          autocomplete="password" required minlength="6">
        <p class="small text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="ml-1 mt-4" *ngIf="password?.errors && password?.errors['required']">Password required</span>
          <span class="ml-1 mt-4" *ngIf="password?.errors && password?.errors['minlength']">Password needs to be more than 6 characters</span>
        </p>
        <p class="small text-danger" *ngIf="user_errors.password">
          <span class="ml-1 mt-4" *ngIf="user_errors.password">{{ user_errors.password }}</span>
        </p>
      </div>
      <div class="col-sm-6 form-group btn-center">
        <input type="submit" class="btn btn-danger" value="Join" [disabled]="!joinForm.form.valid">
        <button class="col-sm-6 btn btn-link" (click)="login()">Login</button>
      </div>
    </form>
    <!-- Login form -->
    <form #loginForm="ngForm" class="form-horizontal loginForm" *ngIf="!joinOrLogin" novalidate (ngSubmit)="onSubmit(loginForm,'login')">
      <div class="col-sm-6 form-group">
        <p class="small text-danger" *ngIf="login_errors">
          <span class="ml-1 mt-4 font-weight-bold" *ngIf="login_errors">{{ login_errors }}</span>
        </p>
        <input type="text" class="form-control text-center" [ngModel]="user.name" name="name" #name="ngModel" placeholder="your name"
          autocomplete="name" required minlength="5">
        <p class="small text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <span class="ml-1 mt-4" *ngIf="name?.errors && name?.errors['required']">User name required</span>
          <span class="ml-1 mt-4" *ngIf="name?.errors && name?.errors['minlength']">User name is more than 5 characters</span>
        </p>
      </div>
      <div class="col-sm-6 form-group">
        <input type="password" class="form-control text-center" [ngModel]="user.password" name="password" #password="ngModel" placeholder="password"
          autocomplete="password" required minlength="6">
        <p class="small text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="ml-1 mt-4" *ngIf="password?.errors && password?.errors['required']">Password required</span>
          <span class="ml-1 mt-4" *ngIf="password?.errors && password?.errors['minlength']">Password is more than 6 characters</span>
        </p>
      </div>
      <!-- <div class="col-sm-6 form-group text-right ml-4"></div> -->
      <div class="col-sm-6 form-group btn-center">
        <input type="submit" class="btn btn-danger" value="Login" [disabled]="!loginForm.form.valid">
        <button class="col-sm-6 btn btn-link" (click)="login()">Join</button>
      </div>
    </form>
  </div>
</div>
<!-- Features footer container -->
<div class="container footer" *ngIf='!isLoggedIn'>
  <div class="row">
    <div class="col-sm-4">
      <span>
        <fa-icon class="text-success" [icon]="['far', 'comment']" size="2x"></fa-icon>
      </span>
      <h4 class="text-danger">One-to-One</h4>
      <p class="text-danger">wanna keep it private?</p>
    </div>
    <div class="col-sm-4">
      <span>
        <fa-icon class="text-success" [icon]="['far', 'comments']" size="2x"></fa-icon>
      </span>
      <h4 class="text-danger">Group Chat</h4>
      <p class="text-danger">planning a tour?</p>
    </div>
    <div class="col-sm-4">
      <span>
        <fa-icon class="text-primary" [icon]="['far', 'calendar']" size="2x"></fa-icon>
      </span>
      <h4 class="text-danger">More</h4>
      <p class="text-danger">new features in progress..</p>
    </div>
  </div>
</div>